{% extends "base.html" %} {% block title%}Home{% endblock %}
{% block content %}
<div class="container" style="display:flex">
<div class="add-expense-form" style="flex:0">

        <h3>Add your expense</h3>
        <div class="form-group" >
        <form method="POST">
        <label for="amount">Amount</label><br>
        <input type="number" class="form-group" name="expense" id="expense" placeholder="expense (+) or income (-1)" style="width:250px;"><br>
        <label for="category">category</label><br>
        <select id="category_exp" name="category_exp">
            {% for option in options %}
                <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select><br><br>
        <label for="date">Date</label><br>
        <input type="date" class="form-group" name="dateInsertion" id="dateInsertion" placeholder="">
        <textarea class="form-group" name="descInsertion" id="descInsertion" placeholder="Transaction description, available by downloading the data" rows="5"></textarea>
        </div>
        </br>
        <button type="submit" name="submit_expense" class="btn btn-primary">add transactions</button>
        <div style="margin-top:10%;">
            <button type="submit" name="download-data" class="btn btn-primary">Download data</button>
        </div>

    </form>

</div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>


<div style="margin-top: 20px; padding: 5%;" id="plot-container" style="height: 400px;"></div>

<script defer>
    var plotData = {{ wealth | safe }};

    function updatePlot(data) {
        // Use Plotly.js to create the plot on the client side
        trace1 = {
            x: data['month_year'],
            y: data['liquidity'],
            name: 'liquidity',
            type: 'bar'
        };

        trace2 = {
            x: data['month_year'],
            y: data['cumulative_wealth'],
            name: 'wealth',
            type: 'bar'
        };

        var data = [trace1, trace2];

        var layout = {
            xaxis: { title: 'Month' },
            yaxis: { title: 'Wealth & Liquidity' },
            bargap: 0.55,
            height: 400,
            barmode: 'group'
        };

        Plotly.newPlot('plot-container', data, layout,{displayModeBar: false});
    }

    window.onload = function() {
    updatePlot(plotData);
};



</script>
{% endblock %}
