{% extends "base.html" %} {% block title%}Home{% endblock %}
{% block content %}
<div class="container" style="display:flex">
<div class="add-expense-form" style="flex:0">

        <h3>Add your expense</h3>
        <div class="form-group" >
        <form method="POST">
        <label for="amount">Amount</label><br>
        <input type="number" class="form-group" name="expense" id="expense" placeholder="expense (+) or income (-1)" style="width:250px;"><br>
        <label for="category">category</label><br>
        <select id="category_exp" name="category_exp">
            {% for option in options %}
                <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select><br><br>
        <label for="date">Date</label><br>
        <input type="date" class="form-group" name="dateInsertion" id="dateInsertion" placeholder="">
        </div>
        </br>
        <button type="submit" name="submit_expense" class="btn btn-primary">add transactions</button>
        <div style="margin-top:10%;">
            <button type="submit" name="download-data" class="btn btn-primary">Download data</button>
        </div>

    </form>

</div>
</div>
<div style="margin-top: 20px; padding: 5%;">
    {{ month_sum | safe }}
</div>
{% endblock %}
