{% extends "base.html" %} {% block title%}Home{% endblock %}
{% block content %}
<div class="container" style="display:flex">
<div class="left" style="flex:1">
<div class="add-expense-form">
    <form method="POST">
        <h3>Add your expense</h3>
        <div class="form-group">
        <label for="amount">Amount</label><br>
        <input type="number" class="form-group" name="expense" id="expense" placeholder="Insert your expense or incme"><br>
        <label for="category">category</label><br>
        <select id="category_exp" name="category_exp">
            {% for option in options %}
                <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select><br><br>
        <label for="date">Date</label><br>
        <input type="date" class="form-group" name="dateInsertion" id="dateInsertion" placeholder="">
        </div>
        </br>
        <button type="submit" name="submit_expense" class="btn btn-primary">add expense</button>
    </form>

</div>
</div>
<div class="categories" style="flex:1">
    <div class="add-category">
        <form method="POST">
            <h3>Add personal category</h3>
                <div class="form-group">
                    <input type="text" class="form-group" id="category_add" name="category_add" placeholder="Your custom category">
                </div>
            <button type="submit" name="submit_category" class="btn btn-primary">add category</button>
        </form>
    </div>
</div>
</div>
{% endblock %}
