{% extends "base.html" %} {% block title%}Home{% endblock %}
{% block content %}
<div style="text-align: center; margin-top: 20px;">
    <form method="POST">
        <label for="month">Month:</label>
        <select name="month" id="month">
            <option value="01">January</option>
            <option value="02">February</option>
            <option value="03">March</option>
            <option value="04">April</option>
            <option value="05">May</option>
            <option value="06">June</option>
            <option value="07">July</option>
            <option value="08">August</option>
            <option value="09">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>

        <label for="year">Year:</label>
        <select name="year" id="year">
            <option value="2023">2023</option>
            <option value="2024">2024</option>
        </select>

        <button type="submit">Submit</button>
    </form>
</div>

<div style="text-align: center; margin-top: 20px;">
    <table border="1" style="margin: auto; width: 60%; padding: 10%; border-collapse: collapse; background-color: white;">
        <thead>
            <tr style="background-color: #f2f2f2; font-weight: bold;">
                <th style="padding: 10px;">Category</th>
                <th style="padding: 10px;">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for row in result_rows %}
                <tr>
                    <td style="padding: 10px;">{{ row['category'] }}</td>
                    <td style="padding: 10px;">{{ row['tot'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>

<div style="margin-top: 20px; padding: 5%;" id="plot-container" style="height: 400px;"></div>

<script defer>
    var data = {{ category_exp | safe }};

    function updatePlot(data) {
        var data = [{
            x: data.category,
            y: data.tot,
            type: 'bar',
            marker: {color: Plotly.d3.scale.category10().range()},
            width: 0.4
        }];

        var layout = {
            xaxis: {title: 'Categories'},
            yaxis: {title: 'Amount'},
            bargap: 0.55,
            height: 400
        };

        Plotly.newPlot('plot-container', data, layout,{displayModeBar: false});
    }

    window.onload = function() {
    updatePlot(data);
};

</script>

{% endblock %}